<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My API</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Welcome to My API!</h1>
                <hr>
                <h4><a href="/api">Read My API Documentation</a></h4>
            </div>



            <!--about me  -->
            <div class="row col-md-8 col-md-offset-2 aboutme-target">
                <h2>My Profile:</h2><br>

                <script id="aboutme-template" type="text/x-handlebars-template">
                    <div class="col-md-3 species-objs">
                        <p><img src="{{githubProfileImage}}" class="github-profile"></p>
                        <p><b>Name: </b>{{name}}</p>
                        <p><b>Github Profile: </b><a href='{{githubLink}}'>{{githubLink}}</a></p>
                        <p><b>My Personal Site: </b><a href='{{personalSiteLink}}'>{{personalSiteLink}}</a></p>
                        <p><b>My Birthplace: </b>{{bornInCity}}</p>
                        <p><b>My Current Location:</b> {{currentCity}}</p>
                        <p><b>My Hobbies: </b> {{#each hobbies}} {{this}}, {{/each}}
                        </p>
                    </div>
                </script>
            </div>
        </div>
        <hr>

        <!-- Species list -->
        <div class="row">

        <div class="col-md-8 col-md-offset-2 species-target">
          <h2>Starwars Species</h2>
            <script id="species-template" type="text/x-handlebars-template">
                {{#each swspecies}}
                  <div class="col-md-3 species-objs">
                      <hr>
                      <p><b>Name: </b>{{name}}</p>
                      <p><b>Classification: </b>{{this.classification}}</p>
                      <p><b>designation: </b>{{this.designation}}</p>
                      <p><b>Average Height: </b>{{average_height}}</p>
                      <p><b>Skin Color: </b>{{skin_colors}}</p>
                      <p><b>Hair Color: </b>{{hair_colors}}</p>
                      <p><b>Eye Colors: </b>{{eye_colors}}</p>
                      <p><b>Average Lifespan: </b>{{average_lifespan}}</p>
                      <p><b>Language: </b>{{language}}</p>
                      <input class="deleteBtn btn btn-danger" data-id={{_id}} type="submit" value="Delete"></input>
                      <input class="updateBtn btn" data-id={{_id}} type="submit" value="Update"></input>
                  </div>
                {{/each}}
            </script>
        </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr>
        <form method="POST" action="/api/wishlist" id="add-items">
         <h2>Add a Species</h2>
            <div class="row form">

              <p><b>Species Name: </b>  <input class="clear" name="speciesName" type="text" placeholder="Species Name"required></p>

              <p><b>Classification: </b>  <input class="clear" name="speciesName" type="text" placeholder="Species Name"required></p>

              <p><b>Designation: </b>  <input class="clear" name="speciesName" type="text" placeholder="Species Name"required></p>

              <p><b>Average Height: </b>  <input class="clear" name="speciesName" type="text" placeholder="Species Name"required></p>

              <p><b>Skin Color: </b>  <input class="clear" name="speciesName" type="text" placeholder="Species Name"required></p>

              <p><b>Eye Color: </b>  <input class="clear" name="speciesName" type="text" placeholder="Species Name"required></p>

              <p><b>Average Lifepan: </b>  <input class="clear" name="speciesName" type="text" placeholder="Species Name"required></p>

              <p><b>Species Name: </b>  <input class="clear" name="speciesName" type="text" placeholder="Species Name"required></p>

              <p><b>Language: </b>  <input class="clear" name="speciesName" type="text" placeholder="Species Name"required></p>

             <input class="btn btn-default submitBtn" type="submit"></input>
            </div>
    </form>
      </div>


    </div>

  </div>
</body>

</html>
