<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My API</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Welcome to My API!</h1>
                <hr>
                <h4><a href="/api">Read My API Documentation</a></h4>
            </div>



            <!--about me  -->
            <div class="row col-md-8 col-md-offset-2 aboutme-target">
                <h2>My Profile:</h2><br>

                <script id="aboutme-template" type="text/x-handlebars-template">
                    <div class="col-md-3">
                        <p><img src="{{githubProfileImage}}" class="github-profile"></p>
                        <p><b>Name: </b>{{name}}</p>
                        <p><b>Github Profile: </b><a href='{{githubLink}}'>{{githubLink}}</a></p>
                        <p><b>My Personal Site: </b><a href='{{personalSiteLink}}'>{{personalSiteLink}}</a></p>
                        <p><b>My Birthplace: </b>{{bornInCity}}</p>
                        <p><b>My Current Location:</b> {{currentCity}}</p>
                        <p><b>My Hobbies: </b> {{#each hobbies}} {{this}}, {{/each}}
                        </p>
                    </div>
                </script>
            </div>
        </div>
        <hr>

        <!-- Species list -->
        <div class="row">
            <h2 class="text-center">Starwars Species</h2>
            <div class="col-md-8 col-md-offset-2 species-target">
                <script id="species-template" type="text/x-handlebars-template">
                    {{#each swspecies}}
                    <div class="col-md-3 species-objs form">
                        <hr>
                        <form id="speciesUpdate" method="PUT" action="/api/swspecies">
                        <p class="display"><b>Name: </b>{{name}}</p>
                        <p><input class="hidden update-form" type="text" name="name" value="{{name}}"></p>
                        <p class="display"><b>Classification: </b>{{classification}}</p>
                        <p><input class="hidden update-form" type="text" name="classification" value="{{classification}}"></p>
                        <p class="display"><b>designation: </b>{{designation}}</p>
                        <p><input class="hidden update-form" type="text" name="designation" value="{{designation}}"></p>
                        <p class="display"><b>Average Height: </b>{{average_height}}</p>
                        <p><input class="hidden update-form" type="text" name="average_height" value="{{average_height}}"></p>
                        <p class="display"><b>Skin Color: </b>{{skin_colors}}</p>
                        <p><input class="hidden update-form" type="text" name="skin_colors" value="{{skin_colors}}"></p>
                        <p class="display"><b>Hair Color: </b>{{hair_colors}}</p>
                        <p><input class="hidden update-form" type="text" name="hair_colors" value="{{hair_colors}}"></p>
                        <p class="display"><b>Eye Colors: </b>{{eye_colors}}</p>
                        <p><input class="hidden update-form" type="text" name="eye_colors" value="{{eye_colors}}"></p>
                        <p class="display"><b>Average Lifespan: </b>{{average_lifespan}}</p>
                        <p><input class="hidden update-form" type="text" name="average_lifespan" value="{{average_lifespan}}"></p>
                        <p class="display"><b>Language: </b>{{language}}</p>
                        <p><input class="hidden update-form" type="text" name="language" value="{{language}}"></p>
                        <button class="deleteBtn btn btn-danger" data-id={{_id}}>Delete</button>
                        <input type='submit' class="saveBtn hidden btn" data-id={{_id}} value="Save"></button>
                        <button type="button" class="updateBtn display btn btn-primary" data-id={{_id}}>Update</button>
                        </form>



                    </div>
                    {{/each}}
                </script>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <hr>
                <form method="POST" action="/api/wishlist" id="add-items">
                    <h2>Add a Species</h2>
                    <div class="row form">

                        <p><b>Species Name: </b> <input class="clear" name="name" type="text" placeholder="Species Name" required></p>

                        <p><b>Classification: </b> <input class="clear" name="classification" type="text" placeholder="Classification"></p>

                        <p><b>Designation: </b> <input class="clear" name="designation" type="text" placeholder="Designation" ></p>

                        <p><b>Average Height: </b> <input class="clear" name="average_height" type="text" placeholder="Average Height" ></p>

                        <p><b>Skin Color: </b> <input class="clear" name="skin_colors" type="text" placeholder="Skin Color" ></p>

                        <p><b>Hair Color: </b> <input class="clear" name="hair_colors" type="text" placeholder="Hair Color" ></p>

                        <p><b>Eye Color: </b> <input class="clear" name="eye_colors" type="text" placeholder="Eye Color" ></p>

                        <p><b>Average Lifepan: </b> <input class="clear" name="average_lifespan" type="text" placeholder="Average Lifespan" ></p>

                        <p><b>Language: </b> <input class="clear" name="language" type="text" placeholder="Language" ></p>

                        <input class="btn btn-default submitBtn" type="submit"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
